/* CSS Document */
a{text-decoration: none; color: #fff;}
.down_con{ border:2px solid #a7aebc; margin:8px 10px;padding:8px; border-radius:20px;}
.down_wen{margin:12px 0px 0px 10px; float:left; width:40px;height:40px;border-radius:20px;}
.down_span{display: inline-block; height: 64px; line-height: 64px;font-size: 18px; color: #757373;font-weight: 600;margin-left: 3%; width:45%; overflow:hidden; text-overflow: ellipsis;}
.down_lidiv{width: 25%;height: 35px; border-radius: 10px;background:url(../images/downbg.png); float: right; margin-top: 18px;margin-right: 18px; text-align:center; line-height:35px; color:#757373; font-weight:600;}
.down_con li:nth-child(even){ background:#fafafb;}